@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome.eot');
    src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome.svg#fontawesome') format('svg'), url('../fonts/fontawesome.woff') format('woff'), url('../fonts/fontawesome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    margin: 0;
}

#outreach {
    text-align: center;
}

h3 {
    color: black;
}

i {
    color: #fe2e2e;
    margin-left: 10px;
    float: left;
}

#top {
    margin-bottom: 30px;
}

button {
    text-align: center;
}

#cntnr {
    background: #fe2e2e;
    border-radius: 25px;
    margin-bottom: 10px;
}

#incntnr {
    padding-top: 10px;
}

#menu2 {
    color: #fe2e2e;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}